@import '../../vars.css';

.dropdownItem {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.dropdownItem:hover {
  background: rgb(233, 236, 239);
}

.dropdownContent {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.bull {
  width: var(--default-checkbox-width);
  padding: 0 var(--default-padding);
}

.fullWidthItem {
  padding-right: var(--chrome-size-scrollbar);
}
